{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
  <h1 align="center">Challenge</h1>
  <ul class="list-group list-group-flush" id="challenges" > 
    {% for challenge in challenges %}
      {% if challenge.Challengenumber == Challengenumber %}
        <li class="list-group-item">
          Welkom bij {{ challenge.ChallengeName }} challenge.
          <br>
          <br>
          {{ challenge.ChallengeDescription }}
          <br>
          Deze challenge levert {{ challenge.ChallengeWorth }} punten op.
          <br>
          <br>
          Gebruik de username : forwardit en password : capturetheflag om in te loggen.
          <br>
          Ssh dan naar : {{ challenge_address }} met poort : {{ challenge_port }} en gebruik de username : root en password : capturetheflag om in te loggen.
          <br>
          <br>
          <A target="_blank" href="{{ address }}">start challenge</A>
          <br>
          <br>
          <form method="POST">
            <label for="hidden_flag">Hidden flag</label>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="hidden_flag"
                name="hidden_flag"
                placeholder="Enter hidden flag"
              />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}