{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
  <h1 align="center">Challenge</h1>
  <ul class="list-group list-group-flush" id="challenges" > 
    {% for challenge in challenges %}
      {% if challenge.ChallengesId == challengeid %}
        <li class="list-group-item">
          Welkom bij {{ challenge.ChallengeNumber }}
          <br>
          In {{ challenge.ChallengeName }} challenge ga je aan de slag met x
          <br>
          Deze chalklenge leverd {{ challenge.ChallengeWorth }} punten op.
          <br>
          <button type="submit" class="btn btn-primary">Start challenge</button>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}